	.AdminProfileLoan:hover {
		color: red;
	}
	.AdminProfileLoan {
		cursor: pointer;
	}
	.AdminProfileLoan {
		font-weight: bold;
	}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}